
  /* AppBar */

.lightMode,.darkMode{
  display:flex;
  justify-content: space-between;
  cursor: pointer;
  overflow: hidden;
}

.lightMode>.buttonsDiv>.navButtons,
.darkMode>.buttonsDiv>.navButtons{
  padding:0.5rem;
}
.lightMode>.buttonsDiv>.navButtons:hover{
  transform: scale(1.05);
  transition: 0.1s ease-in-out;
  background-color:black;
  color:gold;
}
.darkMode>.buttonsDiv>.navButtons:hover{
  transform: scale(1.05);
  transition: 0.1s ease-in-out;
  background-color:white;
  color:#008cff;
}
.lightMode>.themeSwitch>button,.darkMode>.themeSwitch>button{
  margin-left:2rem;
  margin-right: 2rem;
  cursor: pointer;
  border:none;
  background: transparent;
}
.lightMode>.themeSwitch>button{
  border-radius:4rem;
  background:white;
  color:black;
  padding: 6px 6px 3px 6px;
}
.lightMode>.themeSwitch>button:hover{
  color:#0088f8;
}
.darkMode>.themeSwitch>button{

  border-radius:4rem;
  background:black;
  color:white;
  padding: 6px 6px 3px 6px;
}
.darkMode>.themeSwitch>button:hover{
  color: gold;
}


/* Home */


.blackHome,.whiteHome{
  display: grid;
  overflow: hidden;
  font-size:1rem;
  background:url("./wallE-daysAndNights/set3-day.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height:100vh;
}
.blackHome{
  background:url("./wallE-daysAndNights/set3-night.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.blackHome>div{
  color:transparent;
  background:linear-gradient(to right,gold,#0088f8);
  background-clip: text;
  -webkit-background-clip:text;
  display: grid;
  align-content:start;
  justify-content: stretch;
  font-size: larger;
  margin: 3% 2%;
}
.whiteHome>div{
  color:transparent;
  background:linear-gradient(to left,gold,#0088f8);
  background-clip: text;
  -webkit-background-clip:text;
  display: grid;
  align-content:start;
  justify-content: stretch;
  font-size: larger;
  margin: 3% 2%;
}

.whiteHome>div>.loginFormOuterDiv{
  display: grid;
  width:max-content;
  padding:4%;
  background: rgba(0, 136, 248,0.85);
  border:4px solid rgb(0, 136, 248);
  justify-items: center;
  border-radius: 25px;
}
.whiteHome>div>.loginFormOuterDiv>hr{
  width:100%;
  margin:15% 0 0 0;
}
.whiteHome>div>.loginFormOuterDiv>form>input{

   padding:12% 0%;
   margin: 6% 0%;
   width:15rem;
   border-radius: 25px;
   border: none;
   box-shadow: inset 2px 2px 3px 1px #0088f8 , 2px 2px 3px 1px #0088f8;
   text-align:center;

}
.whiteHome>div>.loginFormOuterDiv>form{
  margin-top: 2rem;
}
.whiteHome>div>.loginFormOuterDiv>form>button{
    border:2px solid #0088f8;
    border-radius: 25px;
    color: #0088f8;
    background-color: whitesmoke;
    padding: 3%;
}
.whiteHome>div>.loginFormOuterDiv>form>div>h3{
    color:white;
}
.whiteHome>div>.loginFormOuterDiv>form>div>button{
  border:2px solid #0088f8;
  border-radius: 25px;
  color: #0088f8;
  background-color: whitesmoke;
  margin-left: auto;
  font-size: large;
  padding: 2%;
}


.blackHome>div>.loginFormOuterDiv{
  display: grid;
  width:max-content;
  padding:4%;
  background: rgba(255,215,0,0.85);
  border:4px solid gold;
  justify-items: center;
  border-radius: 25px;
}
.blackHome>div>.loginFormOuterDiv>hr{
  width:100%;
  margin:15% 0 0 0;
}
.blackHome>div>.loginFormOuterDiv>form>input{

   padding:12% 0%;
   margin: 6% 0%;
   width:15rem;
   border-radius: 25px;
   border: none;
   background-color: black;
   color:white;
   box-shadow: inset 2px 2px 3px 1px gold , 2px 2px 3px 1px gold;
   text-align:center;

}
.blackHome>div>.loginFormOuterDiv>form{
  margin-top: 2rem;
}
.blackHome>div>.loginFormOuterDiv>form>button{
    border:2px solid gold;
    border-radius: 25px;
    color: gold;
    background-color: black;
    padding: 3%;
}
.blackHome>div>.loginFormOuterDiv>form>div>h3{
    color:white;
}
.blackHome>div>.loginFormOuterDiv>form>div>button{
  border:2px solid gold;
  border-radius: 25px;
  color: gold;
  background-color: black;
  margin-left: auto;
  font-size: large;
  padding: 2%;
}

.whiteHome>div>.signUpFormOuterDiv{
  display: grid;
  width:max-content;
  padding:4%;
  background: rgba(0, 136, 248,0.85);
  border:4px solid rgb(0, 136, 248);
  justify-items: center;
  border-radius: 25px;
}
.whiteHome>div>.signUpFormOuterDiv>hr{
  width:100%;
  margin:15% 0 0 0;
}
.whiteHome>div>.signUpFormOuterDiv>form>input{

   padding:12% 0%;
   margin: 6% 0%;
   width:15rem;
   border-radius: 25px;
   border: none;
   box-shadow: inset 2px 2px 3px 1px #0088f8 , 2px 2px 3px 1px #0088f8;
   text-align:center;

}
.whiteHome>div>.signUpFormOuterDiv>form{
  margin-top: 2rem;
}
.whiteHome>div>.signUpFormOuterDiv>form>button{
    border:2px solid #0088f8;
    border-radius: 25px;
    color: #0088f8;
    background-color: whitesmoke;
    padding: 3%;
}
.whiteHome>div>.signUpFormOuterDiv>form>div>h3{
    color:white;
}
.whiteHome>div>.signUpFormOuterDiv>form>div>button{
  border:2px solid #0088f8;
  border-radius: 25px;
  color: #0088f8;
  background-color: whitesmoke;
  margin-left: auto;
  font-size: large;
  padding: 2%;
}

.blackHome>div>.signUpFormOuterDiv{
  display: grid;
  width:max-content;
  padding:4%;
  background: rgba(255, 215, 0,0.85);
  border:4px solid gold;
  justify-items: center;
  border-radius: 25px;
}
.blackHome>div>.signUpFormOuterDiv>hr{
  width:100%;
  margin:15% 0 0 0;
}
.blackHome>div>.signUpFormOuterDiv>form>input{

   padding:12% 0%;
   margin: 6% 0%;
   width:15rem;
   border-radius: 25px;
   border: none;
   box-shadow: inset 2px 2px 3px 1px gold , 2px 2px 3px 1px gold;
   text-align:center;
   color:gold;
   background-color: black;
}
.blackHome>div>.signUpFormOuterDiv>form{
  margin-top: 2rem;
}
.blackHome>div>.signUpFormOuterDiv>form>button{
    border:2px solid gold;
    border-radius: 25px;
    color: gold;
    background-color: black;
    padding: 3%;
}
.blackHome>div>.signUpFormOuterDiv>form>div>h3{
    color:white;
}
.blackHome>div>.signUpFormOuterDiv>form>div>button{
  border:2px solid gold;
  border-radius: 25px;
  color: gold;
  background-color: black;
  margin-left: auto;
  font-size: large;
  padding: 2%;
}


/*Edit*/

.blackEdit{
  display: grid;
  grid-template-columns:repeat(auto-fit,minmax(20rem,1fr));
  gap:2rem;
  padding:5rem;
  background-image: url(./wallE-daysAndNights/set1-night.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height:calc(100vh - 64px);
}
.whiteEdit{
  display: grid;
  grid-template-columns:repeat(auto-fit,minmax(20rem,1fr));
  gap:2rem;
  padding:5rem;
  background-image: url(./wallE-daysAndNights/set1-day.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height:calc(100vh - 64px);
}
.whiteEdit>.addMovie>.box,.blackEdit>.addMovie>.box{
  padding:1rem;
}
.whiteEdit>.addMovie>.box>.head{
  color:#008cff;
  font-size: 2rem;
}
.blackEdit>.addMovie>.box>.head{
  color:gold;
  font-size: 2rem;
}
.whiteEdit>.addMovie>.box>form>.inputs{
   background: #fffffff3;
   border-bottom: 3px solid #008cff;
   border-radius:5px;
   padding-left: 0.5rem;
   width:100%;
   max-width: 45rem;
}
.blackEdit>.addMovie>.box>form>.inputs{
  background: #fffffff3;
  border-bottom: 3px solid gold;
  border-radius:5px;
  padding-left: 0.5rem;
  width:100%;
  max-width: 45rem;
}
.whiteEdit>.addMovie>.box>form>span{
  border-radius: 10px;
  background: red;
  color:white;
}
.blackEdit>.addMovie>.box>form>span{
border-radius: 10px;
background: red;
color:white;
}
.whiteEdit>.addMovie>.box>form>.button{
  margin:0.5rem 0;
  color:white;
  background:#008cff;
  max-width: 20rem;
}
.blackEdit>.addMovie>.box>form>.button{
  margin:0.5rem 0;
  color:black;
  background:gold;
  max-width: 20rem;
}
.whiteEdit>.addMovie>.box>form>.button:hover{
  box-shadow: 2px 2px 5px 5px #008cff,-2px -2px 5px 5px #008cff;
}
.blackEdit>.addMovie>.box>form>.button:hover{
  box-shadow: 2px 2px 5px 5px gold,-2px -2px 5px 5px gold;
}
.whiteEdit>.addMovie>.box>form>.cancelButton,
.blackEdit>.addMovie>.box>form>.cancelButton{
  background:#D32F2F;
  max-width: 20rem;
}
.whiteEdit>.addMovie>.box>form>.cancelButton:hover,
.blackEdit>.addMovie>.box>form>.cancelButton:hover{
  box-shadow: 2px 2px 5px 5px #D32F2F,-2px -2px 5px 5px #D32F2F;
}


.whiteEdit>div>.head{
  color:#008cff;
  font-size: 2rem;;
}
.blackEdit>div>.head{
  color:gold;
  font-size: 2rem;
}

.whiteEdit>div>.card{
  background: hsla(206, 100%, 50%, 0.493);
  border-radius: 25px;
  padding:8px;
  overflow: hidden;
  border:5px solid hsl(206, 100%, 50%);
  max-width: 25rem;
}
.blackEdit>div>.card{
  background: rgba(255, 217, 0, 0.39);
  border-radius: 25px;
  padding:8px;
  overflow: hidden;
  border:5px solid gold;
  max-width: 25rem;
}
.whiteEdit>div>.card>img{
  width:100%;
  height:12rem;
  border-radius:25px;
  object-fit: cover;
  border:3px solid hsl(206, 100%, 50%);
}
.blackEdit>div>.card>img{
  width:100%;
  height:12rem;
  border-radius:25px;
  object-fit: cover;
  border:3px solid rgba(255, 217, 0, 0.39);
}
.card>img:hover{
  transform: scale(1.15);
  transition: 0.3s ease-in-out;
}
.whiteEdit>div>.card>.nameAndRAndD>.nameAndR{
  display:flex;
  justify-content:flex-start;
  padding:5px;
  align-items:center;
  color:white;
}
.blackEdit>div>.card>.nameAndRAndD>.nameAndR{
  display:flex;
  justify-content:flex-start;
  padding:5px;
  align-items:center;
  color:black;
}


.whiteEdit>div>.card>.buttons>.spoiler{
  background-color:#008cff;
  color: white;
}
.blackEdit>div>.card>.buttons>.spoiler{
  background-color:gold;
  color: black;
}
.whiteEdit>div>.card>.buttons>.spoiler:hover{
  color:gold;
  transform: scale(1.15);
  transition: 0.2s ease-in-out;
}
.blackEdit>div>.card>.buttons>.spoiler:hover{
  color:#008cff;
  transform: scale(1.15);
  transition: 0.2s ease-in-out;
}
.blackEdit>div>.card>.buttons>.info{
  color: black;
}
.whiteEdit>div>.card>.buttons>.info{
  color: white;
}
.whiteEdit>div>.card>.summary{
  color:white;
  padding-left: 6px;
}
.whiteEdit>div>.card>.summary>b{
  color:black;
}
.blackEdit>div>.card>.summary>b{
  color:white;
}
.blackEdit>div>.card>.summary{
  color:black;
  padding-left: 6px;
}
/* Movies */

.overallBlack{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(20rem,22rem));
  gap:2rem;
  padding:5rem;
  place-content: center;
  background-image: url(./wallE-daysAndNights/set1-night.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height:calc(100vh - 64px);
}
.overallWhite{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(20rem,22rem));
  gap:2rem;
  padding:5rem;
  place-content: center;
  background-image: url(./wallE-daysAndNights/set1-day.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height:calc(100vh - 64px);
}
.overallWhite>.card{
  background: hsla(206, 100%, 50%, 0.85);
  border-radius: 25px;
  padding:8px;
  overflow: hidden;
  border:5px solid hsl(206, 100%, 50%);
}
.overallBlack>.card{
  background: rgba(255, 217, 0, 0.85);
  border-radius: 25px;
  padding:8px;
  overflow: hidden;
  border:5px solid gold;
  
}
.overallWhite>.card>img{
  width:100%;
  height:12rem;
  border-radius:25px;
  object-fit: cover;
  border:3px solid hsl(206, 100%, 50%);
  transition: 0.3s ease-in-out;
}
.overallBlack>.card>img{
  width:100%;
  height:12rem;
  border-radius:25px;
  object-fit: cover;
  border:3px solid rgba(255, 217, 0, 0.39);
  transition: 0.3s ease-in-out;
}
.card>img:hover{
  transform: scale(1.03);
}
.overallWhite>.card>.nameAndRAndD>.nameAndR{
  display:flex;
  justify-content:flex-start;
  padding:5px;
  align-items:center;
  color:white;
}
.overallBlack>.card>.nameAndRAndD>.nameAndR{
  display:flex;
  justify-content:flex-start;
  padding:5px;
  align-items:center;
  color:black;
}
.rating{
  padding-left: 8px;
  font-size:1.5rem;
}
.rating:hover,.delete:hover,.info:hover{
  transform: scale(1.45);
  transition: 0.2s ease-in-out;
}
.nameAndRAndD{
  display:flex;
  justify-content:space-between;
  padding-left:5px;
  align-items:center;
}
.overallWhite>.card>.buttons,.overallBlack>.card>.buttons{
  display:flex;
  justify-content: center;
}
/* .overallWhite>.card>.buttons>.Edit{
  color:red;
  margin-left: auto;
}
.overallBlack>.card>.buttons>.Edit{
  color:red;
  margin-left: auto;
} */
.overallWhite>.card>.buttons>.spoiler{
  background-color:#008cff;
  color: white;
  transition: 0.4s ease-in-out;
}
.overallBlack>.card>.buttons>.spoiler{
  background-color:gold;
  color: black;
  transition: 0.4s ease-in-out;
}
.overallWhite>.card>.buttons>.spoiler:hover{
  color:#008cff;
  background-color: white;
  transform: scale(1.05);
}
.overallBlack>.card>.buttons>.spoiler:hover{
  color:gold;
  background-color: black;
  transform: scale(1.05);
  
}

.overallWhite>.card>.summary{
  color:white;
  padding-left: 6px;
}
.overallWhite>.card>.summary>b{
  color:black;
}
.overallBlack>.card>.summary>b{
  color:white;
}
.overallBlack>.card>.summary{
  color:black;
  padding-left: 6px;
}
.Likes{
  margin: 1rem;
  margin-top: 2rem;
  display:flex;
  justify-content:space-around;
  padding-right: 1rem;
}

.Likes>.button>.like{
   font-size:2rem; 
}
.overallBlack>.card>.Likes>.button>.like{
   color: gold;
   background-color: black;
   border: 1px solid white;
   padding: 1%;
   border-radius: 1rem;
}
.overallWhite>.card>.Likes>.button>.like{
  color: #0088f8;
  background-color: white;
  border: 1px solid black;
  padding: 1%;
  border-radius: 1rem;
}
.overallBlack>.card>.Likes>.info{
  background-color: black;
  color: gold;
  border-radius: 0.5rem;
  border:1px solid white;
}
.overallWhite>.card>.Likes>.info{
  background-color: white;
  color: #0088f8;
  border-radius: 0.5rem;
  border: 1px solid black;
}
.Likes>.button>.disLike{
   font-size:2rem;
}
.overallBlack>.card>.Likes>.button>.disLike{
  color: gold;
  background-color: black;
  border: 1px solid white;
  padding: 1%;
  border-radius: 1rem;
}
.overallWhite>.card>.Likes>.button>.disLike{
 color: #0088f8;
 background-color: white;
 border: 1px solid black;
 padding: 1%;
 border-radius: 1rem;
}

.overallBlack>.card>.Likes>.info:hover,
.overallWhite>.card>.Likes>.info:hover,
.Likes>.button>.like:hover,
.Likes>.button>.disLike:hover{
  transform: scale(1.15);
  transition: 0.3s ease-in-out;
}



/* Add Movies */
.whiteAdd{
  background-image: url(./wallE-daysAndNights/set1-day.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height:calc(100vh - 64px);
}
.blackAdd{
  background-image: url(./wallE-daysAndNights/set1-night.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height:calc(100vh - 64px);
}
.whiteAdd>.addMovie>.box,.blackAdd>.addMovie>.box{
  padding:1rem;
}
.whiteAdd>.addMovie>.box>.head{
  color:#008cff;
  font-size: 2rem;;
}
.blackAdd>.addMovie>.box>.head{
  color:gold;
  font-size: 2rem;
}
.whiteAdd>.addMovie>.box>form>.inputs{
   background: #fffffff3;
   border-bottom: 3px solid #008cff;
   border-radius:5px;
   padding-left: 0.5rem;
   width:40%;
   max-width: 28rem;
}
.blackAdd>.addMovie>.box>form>.inputs{
  background: #fffffff3;
  border-bottom: 3px solid gold;
  border-radius:5px;
  padding-left: 0.5rem;
  width:40%;
  max-width: 28rem;
}
.whiteAdd>.addMovie>.box>form>span{
   border-radius: 10px;
   background: #0088f8;
   color:white;
}
.blackAdd>.addMovie>.box>form>span{
 border-radius: 10px;
 background: gold;
}
.whiteAdd>.addMovie>.box>form>.button{
  margin:0.5rem 0;
  color:white;
  background:#008cff;
  max-width: 20rem;
}
.blackAdd>.addMovie>.box>form>.button{
  margin:0.5rem 0;
  color:black;
  background:gold;
  max-width: 20rem;
}
.whiteAdd>.addMovie>.box>form>.button:hover{
  box-shadow: 2px 2px 5px 5px #008cff,-2px -2px 5px 5px #008cff;
}
.blackAdd>.addMovie>.box>form>.button:hover{
  box-shadow: 2px 2px 5px 5px gold,-2px -2px 5px 5px gold;
}
.whiteAdd>.addMovie>.box>form>.cancelButton,
.blackAdd>.addMovie>.box>form>.cancelButton{
  background:#D32F2F;
  max-width: 20rem;
}
.whiteAdd>.addMovie>.box>form>.cancelButton:hover,
.blackAdd>.addMovie>.box>form>.cancelButton:hover{
  box-shadow: 2px 2px 5px 5px #D32F2F,-2px -2px 5px 5px #D32F2F;
}


/* Movie Details */
.overallMovieBlack{
  background-image: url(./wallE-daysAndNights/set1-night.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height:calc(100vh - 70px);
}
.overallMovieWhite{
  background-image: url(./wallE-daysAndNights/set1-day.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height:calc(100vh - 70px);
}
.overallMovieWhite>.movieDetail,
.overallMovieBlack>.movieDetail{
  width:100%;
  display:grid;
  grid-template-columns: 54vw 46vw;
}

.overallMovieBlack>.movieDetail>.movieDetails{
  padding:2rem;
  margin: 4rem 2rem;
  max-width: 22rem;
  background-color:rgba(255, 217, 0, 0.85);
  border:4px solid  gold;
  border-radius:25px;
}
.overallMovieWhite>.movieDetail>.movieDetails{
  padding:2rem;
  margin:4rem 2rem;
  width:100%;
  max-width: 22rem;
  background-color:rgba(0, 140, 255, 0.85);
  border:4px solid  #008cff;
  border-radius:25px;
}

.overallMovieBlack>.movieDetail>.movieDetails>iframe{
  min-width:44vw;
  width:100%;
  height: 36vh;
  border:4px solid gold;
  border-radius:25px;
  background-color:rgba(255, 217, 0, 0.85);
}
.overallMovieWhite>.movieDetail>.movieDetails>iframe{
  min-width:44vw;
  width:100%;
  height: 36vh;
  border:4px solid #008cff;
  background-color:rgba(0, 140, 255, 0.85);
  border-radius:25px;
}
.overallMovieWhite>.movieDetail>.movieDetails>h2,p{
  color:white;
}
.overallMovieBlack>.movieDetail>.movieDetails>h2,p{
  color:black;
}
.overallMovieWhite>.movieDetail>.movieDetails>p{
  color:white;
}
.overallMovieWhite>.movieDetail>.movieDetails>p>b,
.overallMovieWhite>.movieDetail>.movieDetails>h2>b,
.overallMovieWhite>.movieDetail>.movieDetails>h1{
  color: black;
}
.overallMovieBlack>.movieDetail>.movieDetails>p>b,
.overallMovieBlack>.movieDetail>.movieDetails>h2>b,
.overallMovieBlack>.movieDetail>.movieDetails>h1{
  color: white;
}

.overallMovieBlack>.movieDetail>.movieReviews,
.overallMovieWhite>.movieDetail>.movieReviews{
  width:95%;
  height:95%;
  margin: 2%;
  border-radius: 25px;
}
.overallMovieWhite>.movieDetail>.movieReviews{
  border:4px solid #0088f8;
  background: rgba(0, 136, 248,0.85);
}
.overallMovieBlack>.movieDetail>.movieReviews{
  border:4px solid gold;
  background: rgba(255, 215, 0,0.85);
}
.overallMovieBlack>.movieDetail>.movieReviews>.reviewHeading{
  color:black;
  text-align: center;
}
.overallMovieWhite>.movieDetail>.movieReviews>.reviewHeading{
  color:white;
  text-align: center;
}
.overallMovieWhite>.movieDetail>.movieReviews>.reviewBox{
  height:75%;
  overflow-x: hidden;
  overflow-y: auto;
}
.overallMovieBlack>.movieDetail>.movieReviews>.reviewBox{
  height:75%;
  overflow-x: hidden;
  overflow-y: auto;
}
.overallMovieWhite>.movieDetail>.movieReviews>.reviewBox>.reviewCard{
  background-color: whitesmoke;
}
.overallMovieBlack>.movieDetail>.movieReviews>.reviewBox>.reviewCard{
  background-color: rgba(20, 20, 20, 0.85);
}
.overallMovieWhite>.movieDetail>.movieReviews>.reviewBox>.reviewCard>.reviewUserName{
  color:#0088f8;
  text-align:start;
  text-transform: capitalize;
  margin: 2%;
}
.overallMovieBlack>.movieDetail>.movieReviews>.reviewBox>.reviewCard>.reviewUserName{
  color:gold;
  text-align:start;
  text-transform: capitalize;
  margin: 2%;
}
.overallMovieWhite>.movieDetail>.movieReviews>.reviewBox>.reviewCard>.reviewText{
  color:black;
  text-align:start;
  text-transform: capitalize;
  margin-left: 8%;
}
.overallMovieBlack>.movieDetail>.movieReviews>.reviewBox>.reviewCard>.reviewText{
  color:white;
  text-align:start;
  text-transform: capitalize;
  margin-left: 8%;
}
.overallMovieWhite>.movieDetail>.movieReviews>.reviewInputBox{
  width:100%;
  height:13%;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px ;
  display: grid;
  grid-template-columns: 90% 10%;
  align-items: center;
}
.overallMovieBlack>.movieDetail>.movieReviews>.reviewInputBox{
  width:100%;
  height:13%;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px ;
  display: grid;
  grid-template-columns: 90% 10%;
  align-items: center;
}
.overallMovieBlack>.movieDetail>.movieReviews>.reviewInputBox>textarea{
  height:60%;
  padding: 3%;
  border-radius:25px;
  caret-color: gold;
  background-color: rgba(20, 20, 20,0.85);
  color:gold;
  font-size: large;
  resize: none;
}
.overallMovieWhite>.movieDetail>.movieReviews>.reviewInputBox>textarea{
  height:60%;
  padding: 3%;
  border-radius:25px;
  caret-color:#0088f8;
  background-color:rgba(245,245,245,0.85);
  color:#0088f8;
  font-size: large;
  resize: none;
}
.overallMovieBlack>.movieDetail>.movieReviews>.editReview{
  color:black;
  background-color: gold;
  margin: 3%;
  border: 1px solid black;
}

.overallMovieWhite>.movieDetail>.movieReviews>.editReview{
  color:white;
  background-color: #0088f8;
  margin: 3%;
  border: 1px solid white;
}



/* TicTacToe-Game */

.overallBlackGame{
  background:url("./wallE-daysAndNights/set2-night.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height:calc(100vh - 68px);
  margin-top:-1.25rem;
}
.overallWhiteGame{
  background:url("./wallE-daysAndNights/set2-day.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height:calc(100vh - 68px);
  margin-top:-1.25rem;
}
.overallBlackGame>div>h1>.childHood{
  color:transparent;
  background:gold;
  background-clip: text;
  -webkit-background-clip:text;
}
.overallWhiteGame>div>h1>.childHood{
  color:transparent;
  background:#0088f8;
  background-clip: text;
  -webkit-background-clip:text;
}
.selecting-portion{
  display:grid;
  place-items: center;
  font-size: 2rem;
  background:linear-gradient(to right,gold 51.4%,#0088f8 50%);
  background-clip: text;
  -webkit-background-clip:text;
  color:transparent;
}
.overallBlackGame>div>.selecting-portion{
  text-shadow: 1px 1px 45px gold;
}
.overallWhiteGame>div>.selecting-portion{
  text-shadow: 1px 1px 45px #0088f8;
}
.selecting-portion>div>button{
  width:6rem;
  height:6rem;
  margin:-1rem 2rem 2rem 2rem;
  font-size: 5rem;
  border:none;
  background: transparent;
  
}

.overallWhiteGame>div>.selecting-portion>div>button:hover{
  transition: all 0.4s ease-in-out;
  transform:scale(1.4);
  text-shadow: 1px 1px 30px #0088f8;
}
.overallBlackGame>div>.selecting-portion>div>button:hover{
  transition: all 0.4s ease-in-out;
  transform:scale(1.4);
  text-shadow: 1px 1px 30px gold;
}
.overallBlackGame>.indicators{
  text-align:center;
  font-size:4rem;
  text-shadow: 1px 1px 30px gold;
}
.overallWhiteGame>.indicators{
  text-align:center;
  font-size:4rem;
  text-shadow: 1px 1px 30px #0088f8;
}

.tictactoe-gameBox{
  display:grid;
  justify-items: center;
}
.tictactoe-game{
  display:grid;
  grid-template-columns: repeat(3,1fr);
  width:min-content;
  border-radius:30px;

}
.game-buttons{
  width:10rem;
  height:10rem;
  font-size:8rem;
  cursor: pointer;
  border: 3px solid #ffffff00;
  border-radius:25px;
  background-color:hsla(0, 0%, 100%, 0.527);
}
.game-buttons:hover{
    background-color:hsla(0, 0%, 50%, 0.514);
}
.overallWhiteGame>.overallWinner>.resultAndReset{
  display:grid;
  grid-template-columns:1.2fr 1fr;
  justify-items: end;
  align-items: center;
  color:#0088f8;
  font-size:1.5rem;
}
.overallBlackGame>.overallWinner>.resultAndReset{
  display:grid;
  grid-template-columns:1.2fr 1fr;
  justify-items: end;
  align-items: center;
  color:gold;
  font-size:1.5rem;
}

.overallWhiteGame>.overallWinner>.resultAndReset>button{
  border:2px solid #0088f8;
  border-radius:25px;
  color:#0088f8;
  font-size:1.1rem;
  cursor:pointer;
  display: inline-block;
  margin: 0 0.5rem;
  animation: wobble; 
  animation-duration: 1.5s;
  animation-delay: 1.5s;
  animation-iteration-count: 6;
}
.overallBlackGame>.overallWinner>.resultAndReset>button{
  border:2px solid gold;
  border-radius:25px;
  color:gold;
  background:transparent;
  font-size:1.1rem;
  cursor:pointer;
  display: inline-block;
  margin: 0 0.5rem;
  animation: wobble; 
  animation-duration: 1.5s;
  animation-delay: 1.5s;
  animation-iteration-count: 6;
}
.overallWinner{
  display:grid;
  place-content: center;
}