/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* display: inline-block;
    margin: 0 0.5rem;
  
    animation: bounce; /* referring directly to the animation's @keyframe declaration */
   /* animation-duration: 2s; */


  /* AppBar */

.lightMode,.darkMode{
  display:flex;
  justify-content: space-between;
  cursor: pointer;
}

.lightMode>.buttonsDiv>.navButtons,
.darkMode>.buttonsDiv>.navButtons{
  padding:0.5rem;
}
.lightMode>.buttonsDiv>.navButtons:hover{
  transform: scale(1.05);
  transition: 0.1s ease-in-out;
  background-color:black;
  color:gold;
}
.darkMode>.buttonsDiv>.navButtons:hover{
  transform: scale(1.05);
  transition: 0.1s ease-in-out;
  background-color:white;
  color:#008cff;
}
.lightMode>.themeSwitch>button,.darkMode>.themeSwitch>button{
  margin-left:2rem;
  margin-right: 2rem;
  cursor: pointer;
  border:none;
  background: transparent;
}
.lightMode>.themeSwitch>button{
  border-radius:4rem;
  background:white;
  color:black;
  padding: 6px 6px 3px 6px;
}
.lightMode>.themeSwitch>button:hover{
  color:#0088f8;
}
.darkMode>.themeSwitch>button{

  border-radius:4rem;
  background:black;
  color:white;
  padding: 6px 6px 3px 6px;
}
.darkMode>.themeSwitch>button:hover{
  color: gold;
}


/* Home */


.blackHome,.whiteHome{
  display: grid;
  padding:4rem;
  padding-left: 2rem;
  font-size:1rem;
  background:url("./wallE-daysAndNights/set3-day.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height:calc(100vh - 192px);
}
.blackHome{
  background:url("./wallE-daysAndNights/set3-night.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.blackHome>div{
  margin-top:-25rem;
  color:transparent;
  background:linear-gradient(to right,gold,#0088f8);
  background-clip: text;
  -webkit-background-clip:text;
}
.whiteHome>div{
  margin-top:-25rem;
  color:transparent;
  background:linear-gradient(to left,gold,#0088f8);
  background-clip: text;
  -webkit-background-clip:text;
}
.blackHome>span{
  color:transparent;
  background:linear-gradient(to right,gold,#008cff);
  background-clip: content;
  -webkit-background-clip:text;
  font-size:3rem;
}
.whiteHome>span{
  color:transparent;
  background:linear-gradient(to left,gold,#008cff);
  background-clip: content;
  -webkit-background-clip:text;
  font-size:3rem;
}
.blackHome>div>button{
  margin: 0.8rem;
  padding:1rem;
  border-radius: 15px;
  border:2px solid white;
  background-color:yellow;
  font-size: 2rem;
  cursor: pointer;
}
.whiteHome>div>button{
  margin: 0.8rem;
  padding:1rem;
  border-radius: 15px;
  border:2px solid black;
  background-color:#008cff;
  color: white;
  font-size: 2rem;
  cursor: pointer;
}
.whiteHome>div>button:hover,.blackHome>div>button:hover{
  transform: scale(1.15);
  transition: 0.3s ease-in-out;
}

/*Edit*/

.blackEdit{
  display: grid;
  grid-template-columns:repeat(auto-fit,minmax(20rem,1fr));
  gap:2rem;
  padding:5rem;
  background-image: url(./wallE-daysAndNights/set1-night.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height:calc(100vh - 64px);
}
.whiteEdit{
  display: grid;
  grid-template-columns:repeat(auto-fit,minmax(20rem,1fr));
  gap:2rem;
  padding:5rem;
  background-image: url(./wallE-daysAndNights/set1-day.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height:calc(100vh - 64px);
}
.whiteEdit>.addMovie>.box,.blackEdit>.addMovie>.box{
  padding:1rem;
}
.whiteEdit>.addMovie>.box>.head{
  color:#008cff;
  font-size: 2rem;
}
.blackEdit>.addMovie>.box>.head{
  color:gold;
  font-size: 2rem;
}
.whiteEdit>.addMovie>.box>form>.inputs{
   background: #fffffff3;
   border-bottom: 3px solid #008cff;
   border-radius:5px;
   padding-left: 0.5rem;
   width:100%;
   max-width: 45rem;
}
.blackEdit>.addMovie>.box>form>.inputs{
  background: #fffffff3;
  border-bottom: 3px solid gold;
  border-radius:5px;
  padding-left: 0.5rem;
  width:100%;
  max-width: 45rem;
}
.whiteEdit>.addMovie>.box>form>span{
  border-radius: 10px;
  background: red;
  color:white;
}
.blackEdit>.addMovie>.box>form>span{
border-radius: 10px;
background: red;
color:white;
}
.whiteEdit>.addMovie>.box>form>.button{
  margin:0.5rem 0;
  color:white;
  background:#008cff;
  max-width: 20rem;
}
.blackEdit>.addMovie>.box>form>.button{
  margin:0.5rem 0;
  color:black;
  background:gold;
  max-width: 20rem;
}
.whiteEdit>.addMovie>.box>form>.button:hover{
  box-shadow: 2px 2px 5px 5px #008cff,-2px -2px 5px 5px #008cff;
}
.blackEdit>.addMovie>.box>form>.button:hover{
  box-shadow: 2px 2px 5px 5px gold,-2px -2px 5px 5px gold;
}
.whiteEdit>.addMovie>.box>form>.cancelButton,
.blackEdit>.addMovie>.box>form>.cancelButton{
  background:#D32F2F;
  max-width: 20rem;
}
.whiteEdit>.addMovie>.box>form>.cancelButton:hover,
.blackEdit>.addMovie>.box>form>.cancelButton:hover{
  box-shadow: 2px 2px 5px 5px #D32F2F,-2px -2px 5px 5px #D32F2F;
}


.whiteEdit>div>.head{
  color:#008cff;
  font-size: 2rem;;
}
.blackEdit>div>.head{
  color:gold;
  font-size: 2rem;
}

.whiteEdit>div>.card{
  background: hsla(206, 100%, 50%, 0.493);
  border-radius: 25px;
  padding:8px;
  overflow: hidden;
  border:5px solid hsl(206, 100%, 50%);
  max-width: 25rem;
}
.blackEdit>div>.card{
  background: rgba(255, 217, 0, 0.39);
  border-radius: 25px;
  padding:8px;
  overflow: hidden;
  border:5px solid gold;
  max-width: 25rem;
}
.whiteEdit>div>.card>img{
  width:100%;
  height:12rem;
  border-radius:25px;
  object-fit: cover;
  border:3px solid hsl(206, 100%, 50%);
}
.blackEdit>div>.card>img{
  width:100%;
  height:12rem;
  border-radius:25px;
  object-fit: cover;
  border:3px solid rgba(255, 217, 0, 0.39);
}
.card>img:hover{
  transform: scale(1.15);
  transition: 0.3s ease-in-out;
}
.whiteEdit>div>.card>.nameAndRAndD>.nameAndR{
  display:flex;
  justify-content:flex-start;
  padding:5px;
  align-items:center;
  color:white;
}
.blackEdit>div>.card>.nameAndRAndD>.nameAndR{
  display:flex;
  justify-content:flex-start;
  padding:5px;
  align-items:center;
  color:black;
}


.whiteEdit>div>.card>.buttons>.spoiler{
  background-color:#008cff;
  color: white;
}
.blackEdit>div>.card>.buttons>.spoiler{
  background-color:gold;
  color: black;
}
.whiteEdit>div>.card>.buttons>.spoiler:hover{
  color:gold;
  transform: scale(1.15);
  transition: 0.2s ease-in-out;
}
.blackEdit>div>.card>.buttons>.spoiler:hover{
  color:#008cff;
  transform: scale(1.15);
  transition: 0.2s ease-in-out;
}
.blackEdit>div>.card>.buttons>.info{
  color: black;
}
.whiteEdit>div>.card>.buttons>.info{
  color: white;
}
.whiteEdit>div>.card>.summary{
  color:white;
  padding-left: 6px;
}
.whiteEdit>div>.card>.summary>b{
  color:black;
}
.blackEdit>div>.card>.summary>b{
  color:white;
}
.blackEdit>div>.card>.summary{
  color:black;
  padding-left: 6px;
}
/* Movies */

.overallBlack{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(20rem,22rem));
  gap:2rem;
  padding:5rem;
  place-content: center;
  background-image: url(./wallE-daysAndNights/set1-night.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height:calc(100vh - 64px);
}
.overallWhite{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(20rem,22rem));
  gap:2rem;
  padding:5rem;
  place-content: center;
  background-image: url(./wallE-daysAndNights/set1-day.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height:calc(100vh - 64px);
}
.overallWhite>.card{
  background: hsla(206, 100%, 50%, 0.493);
  border-radius: 25px;
  padding:8px;
  overflow: hidden;
  border:5px solid hsl(206, 100%, 50%);
}
.overallBlack>.card{
  background: rgba(255, 217, 0, 0.39);
  border-radius: 25px;
  padding:8px;
  overflow: hidden;
  border:5px solid gold;
}
.overallWhite>.card>img{
  width:100%;
  height:12rem;
  border-radius:25px;
  object-fit: cover;
  border:3px solid hsl(206, 100%, 50%);
}
.overallBlack>.card>img{
  width:100%;
  height:12rem;
  border-radius:25px;
  object-fit: cover;
  border:3px solid rgba(255, 217, 0, 0.39);
}
.card>img:hover{
  transform: scale(1.15);
  transition: 0.3s ease-in-out;
}
.overallWhite>.card>.nameAndRAndD>.nameAndR{
  display:flex;
  justify-content:flex-start;
  padding:5px;
  align-items:center;
  color:white;
}
.overallBlack>.card>.nameAndRAndD>.nameAndR{
  display:flex;
  justify-content:flex-start;
  padding:5px;
  align-items:center;
  color:black;
}
.rating{
  padding-left: 8px;
  font-size:1.5rem;
}
.rating:hover,.delete:hover,.info:hover{
  transform: scale(1.45);
  transition: 0.2s ease-in-out;
}
.nameAndRAndD{
  display:flex;
  justify-content:space-between;
  padding-left:5px;
  align-items:center;
}
.overallWhite>.card>.buttons,.overallBlack>.card>.buttons{
  display:flex;
}
.overallWhite>.card>.buttons>.Edit{
  color:red;
  margin-left: auto;
}
.overallBlack>.card>.buttons>.Edit{
  color:red;
  margin-left: auto;
}
.overallWhite>.card>.buttons>.spoiler{
  background-color:#008cff;
  color: white;
}
.overallBlack>.card>.buttons>.spoiler{
  background-color:gold;
  color: black;
}
.overallWhite>.card>.buttons>.spoiler:hover{
  color:gold;
  transform: scale(1.15);
  transition: 0.2s ease-in-out;
}
.overallBlack>.card>.buttons>.spoiler:hover{
  color:#008cff;
  transform: scale(1.15);
  transition: 0.2s ease-in-out;
}
.overallBlack>.card>.buttons>.info{
  color: black;
}
.overallWhite>.card>.buttons>.info{
  color: white;
}
.overallWhite>.card>.summary{
  color:white;
  padding-left: 6px;
}
.overallWhite>.card>.summary>b{
  color:black;
}
.overallBlack>.card>.summary>b{
  color:white;
}
.overallBlack>.card>.summary{
  color:black;
  padding-left: 6px;
}
.Likes{
  margin: 1rem;
  display:flex;
  justify-content:space-around;
  padding-right: 1rem;
}
.Likes>.button>.like{
   font-size:2rem;
   
}
.Likes>.button>.disLike{
   font-size:2rem;
}
.Likes>.button>.like:hover{
  transform: scale(1.25);
  transition: 0.2s ease-in-out;
}
.Likes>.button>.disLike:hover{
  transform: scale(1.25);
  transition: 0.2s ease-in-out;
}



/* Add Movies */
.whiteAdd{
  background-image: url(./wallE-daysAndNights/set1-day.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height:calc(100vh - 64px);
}
.blackAdd{
  background-image: url(./wallE-daysAndNights/set1-night.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height:calc(100vh - 64px);
}
.whiteAdd>.addMovie>.box,.blackAdd>.addMovie>.box{
  padding:1rem;
}
.whiteAdd>.addMovie>.box>.head{
  color:#008cff;
  font-size: 2rem;;
}
.blackAdd>.addMovie>.box>.head{
  color:gold;
  font-size: 2rem;
}
.whiteAdd>.addMovie>.box>form>.inputs{
   background: #fffffff3;
   border-bottom: 3px solid #008cff;
   border-radius:5px;
   padding-left: 0.5rem;
   width:40%;
   max-width: 28rem;
}
.blackAdd>.addMovie>.box>form>.inputs{
  background: #fffffff3;
  border-bottom: 3px solid gold;
  border-radius:5px;
  padding-left: 0.5rem;
  width:40%;
  max-width: 28rem;
}
.whiteAdd>.addMovie>.box>form>span{
   border-radius: 10px;
   background: #0088f8;
   color:white;
}
.blackAdd>.addMovie>.box>form>span{
 border-radius: 10px;
 background: gold;
}
.whiteAdd>.addMovie>.box>form>.button{
  margin:0.5rem 0;
  color:white;
  background:#008cff;
  max-width: 20rem;
}
.blackAdd>.addMovie>.box>form>.button{
  margin:0.5rem 0;
  color:black;
  background:gold;
  max-width: 20rem;
}
.whiteAdd>.addMovie>.box>form>.button:hover{
  box-shadow: 2px 2px 5px 5px #008cff,-2px -2px 5px 5px #008cff;
}
.blackAdd>.addMovie>.box>form>.button:hover{
  box-shadow: 2px 2px 5px 5px gold,-2px -2px 5px 5px gold;
}
.whiteAdd>.addMovie>.box>form>.cancelButton,
.blackAdd>.addMovie>.box>form>.cancelButton{
  background:#D32F2F;
  max-width: 20rem;
}
.whiteAdd>.addMovie>.box>form>.cancelButton:hover,
.blackAdd>.addMovie>.box>form>.cancelButton:hover{
  box-shadow: 2px 2px 5px 5px #D32F2F,-2px -2px 5px 5px #D32F2F;
}


/* Movie Details */
.overallWhite>.movieDetail,.overallBlack>.movieDetail{
  display:grid;
  place-content: center;
  place-items: center;
}
.overallBlack>.movieDetail>.movieDetails>iframe{
  border:4px solid gold;
  border-radius:25px;
}
.overallWhite>.movieDetail>.movieDetails>iframe{
  border:4px solid #008cff;
  border-radius:25px;
}

.overallBlack>.movieDetail>.movieDetails{
  padding:4rem;
  margin:6rem;
  background-color:rgba(255, 217, 0, 0.473);
  border:4px solid  gold;
  border-radius:25px;
}
.overallWhite>.movieDetail>.movieDetails{
  padding:4rem;
  margin:6rem;
  background-color:#008cff7e;
  border:4px solid  #008cff;
  border-radius:25px;
}
.overallWhite>.movieDetail>.movieDetails>h2,p{
  color:white;
}
.overallBlack>.movieDetail>.movieDetails>h2,p{
  color:black;
}
.overallWhite>.movieDetail>.movieDetails>p{
  color:white;
}
.overallWhite>.movieDetail>.movieDetails>p>b,
.overallWhite>.movieDetail>.movieDetails>h2>b,
.overallWhite>.movieDetail>.movieDetails>h1{
  color: black;
}
.overallBlack>.movieDetail>.movieDetails>p>b,
.overallBlack>.movieDetail>.movieDetails>h2>b,
.overallBlack>.movieDetail>.movieDetails>h1{
  color: white;
}

/* TicTacToe-Game */

.overallBlackGame{
  background:url("./wallE-daysAndNights/set2-night.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height:calc(100vh - 68px);
  margin-top:-1.25rem;
}
.overallWhiteGame{
  background:url("./wallE-daysAndNights/set2-day.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height:calc(100vh - 68px);
  margin-top:-1.25rem;
}
.overallBlackGame>div>h1>.childHood{
  color:transparent;
  background:gold;
  background-clip: text;
  -webkit-background-clip:text;
}
.overallWhiteGame>div>h1>.childHood{
  color:transparent;
  background:#0088f8;
  background-clip: text;
  -webkit-background-clip:text;
}
.selecting-portion{
  display:grid;
  place-items: center;
  font-size: 2rem;
  background:linear-gradient(to right,gold 51.4%,#0088f8 50%);
  background-clip: text;
  -webkit-background-clip:text;
  color:transparent;
}
.overallBlackGame>div>.selecting-portion{
  text-shadow: 1px 1px 45px gold;
}
.overallWhiteGame>div>.selecting-portion{
  text-shadow: 1px 1px 45px #0088f8;
}
.selecting-portion>div>button{
  width:6rem;
  height:6rem;
  margin:-1rem 2rem 2rem 2rem;
  font-size: 5rem;
  border:none;
  background: transparent;
  
}

.overallWhiteGame>div>.selecting-portion>div>button:hover{
  transition: all 0.4s ease-in-out;
  transform:scale(1.4);
  text-shadow: 1px 1px 30px #0088f8;
}
.overallBlackGame>div>.selecting-portion>div>button:hover{
  transition: all 0.4s ease-in-out;
  transform:scale(1.4);
  text-shadow: 1px 1px 30px gold;
}
.overallBlackGame>.indicators{
  text-align:center;
  font-size:4rem;
  text-shadow: 1px 1px 30px gold;
}
.overallWhiteGame>.indicators{
  text-align:center;
  font-size:4rem;
  text-shadow: 1px 1px 30px #0088f8;
}

.tictactoe-gameBox{
  display:grid;
  justify-items: center;
}
.tictactoe-game{
  display:grid;
  grid-template-columns: repeat(3,1fr);
  width:min-content;
  border-radius:30px;

}
.game-buttons{
  width:10rem;
  height:10rem;
  font-size:8rem;
  cursor: pointer;
  border: 3px solid #ffffff00;
  border-radius:25px;
  background-color:hsla(0, 0%, 100%, 0.527);
}
.game-buttons:hover{
    background-color:hsla(0, 0%, 50%, 0.514);
}
.overallWhiteGame>.overallWinner>.resultAndReset{
  display:grid;
  grid-template-columns:1.2fr 1fr;
  justify-items: end;
  align-items: center;
  color:#0088f8;
  font-size:1.5rem;
}
.overallBlackGame>.overallWinner>.resultAndReset{
  display:grid;
  grid-template-columns:1.2fr 1fr;
  justify-items: end;
  align-items: center;
  color:gold;
  font-size:1.5rem;
}

.overallWhiteGame>.overallWinner>.resultAndReset>button{
  border:2px solid #0088f8;
  border-radius:25px;
  color:#0088f8;
  font-size:1.1rem;
  cursor:pointer;
  display: inline-block;
  margin: 0 0.5rem;
  animation: wobble; 
  animation-duration: 1.5s;
  animation-delay: 1.5s;
  animation-iteration-count: 6;
}
.overallBlackGame>.overallWinner>.resultAndReset>button{
  border:2px solid gold;
  border-radius:25px;
  color:gold;
  background:transparent;
  font-size:1.1rem;
  cursor:pointer;
  display: inline-block;
  margin: 0 0.5rem;
  animation: wobble; 
  animation-duration: 1.5s;
  animation-delay: 1.5s;
  animation-iteration-count: 6;
}
.overallWinner{
  display:grid;
  place-content: center;
}